
  <div class="container" id="process2">
  <div class="header" >
    <h1>About Me</h1>
  </div><!-- end header -->

  <div class="row">
    <div class="image col-md-4 col-sm-6">
      <%= image_tag("1234.jpg", height: '300', width: '100%' , class: "img-responsive my-image") %>
    </div><!-- end image -->

    <div class="example col-md-4 col-sm-6" >
      <h2> About Me </h2>
      <p>Welcome to my Portfolio website</p>
    </div><!-- end example -->

    <div class="skill col-md-4 col-sm-6">
      <h3>My Skills</h3>
      <ul>
        <li>Photoshop</li>
        <li>Microsoft office</li>
        <li>Web Design</li>
      </ul>
    </div><!-- end skill -->
    </div>
  

    <div class="eman col-md-12 col-sm-6" >
      <h2>More About Me </h2>
      <p>Eman Adnan
        Specialies in software , department of computer ststem engineering .
        I have ability to design web sites using software languages.
        I employ my talent using photoshop program in design.
        I like completing work with quality and tome required .
      </p>
    </div><!-- end example -->
    </div>