<div class="index">
<h1>Welcome to my page</h1>
</div>
<br>
<%= image_tag("1234.jpg", height: '300', width: '100%' , class: "img-responsive my-image") %>

 	   <div class="container1">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h2>Portfolio Concept</h2>
          <p> I would like to create attractive portfolio, I have ability to design website using software language , Also I employ my talent by offering many skills and experiences.
my portfolio should demonstrate my ability to apply accurate craftsmanship
methods to customer needs.
Lastly, I like completing work with quality and time required. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /col -->
        <div class="col-md-4 col-sm-6">
          <h2>Project Goals</h2>
          <p> I have the ability to work with full efforts and targeting 40 hours a week. I'm interested in the results more than money , I have the ability to deliver work to clients efficiently. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div><!-- /col -->
        <div class="col-md-4 col-sm-6">
          <h2>Course Goals</h2>
          <p>After having studied computer systems engineering, My goal is Professionalism in web design ,After completion the course I would like to do a full-time job. Firstly as  web developer ,  ultimately as a innovative entrepreneur.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /col -->
      </div><!-- /row -->

      <hr>


    </div> <!-- /container1 -->
	   

