/* line 5, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.stars {
  padding: 0 30px;
}

/* line 10, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

/* line 14, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

/* line 19, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

/* line 22, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

/* line 28, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

/* line 32, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: whitesmoke;
  border-color: #000033;
}

/* line 35, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

/* line 42, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

/* line 46, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 52, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
* html .digg_pagination {
  height: 1%;
}

/* line 54, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* line 59, C:/sites/emanapp/app/assets/stylesheets/comments.scss */
.glyphicon-remove {
  color: red;
}
/* line 5, C:/sites/emanapp/app/assets/stylesheets/products.scss */
body {
  margin-top: 10px;
}

/* line 9, C:/sites/emanapp/app/assets/stylesheets/products.scss */
.form-label {
  color: #7D053F;
  font-size: 1.2em;
}

/* line 14, C:/sites/emanapp/app/assets/stylesheets/products.scss */
.thumbnail .caption {
  text-align: center;
  color: #7D053F;
}

/* line 20, C:/sites/emanapp/app/assets/stylesheets/products.scss */
.thumbnail .img-zoom {
  height: 450px;
}

/* line 24, C:/sites/emanapp/app/assets/stylesheets/products.scss */
.show-product {
  margin: 80px auto;
}

/* line 27, C:/sites/emanapp/app/assets/stylesheets/products.scss */
.show-product .product-img {
  height: auto;
}
/* line 1, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 17, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, C:/sites/emanapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.index h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fffeea;
  color: #7D053F;
}

/* line 14, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.time {
  margin-left: 50%;
}

/* line 19, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.about {
  font-size: 10px;
}

/* line 23, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Della Respira';
  color: #7D053F;
  text-align: center;
}

/* line 32, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.header p {
  text-align: center;
  font-size: 20px;
  color: black;
}

/* line 38, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.header {
  background-color: #fffeea;
}

/* line 43, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.image h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

/* line 48, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.image h2 {
  color: black;
}

/* line 54, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.jumbotron {
  background-image: url("eman.png");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding: 100px;
  padding-top: 50px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  /* line 64, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
  h2 {
    font-size: 0.8em;
  }
}
/* line 70, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.store h2 {
  font-family: 'Della Respira';
  color: #c55f1f;
  text-align: center;
  padding: 30px 0 20px;
}

/* line 78, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.site-footer {
  color: #7D053F;
  background-color: #e7e7e7;
  padding: 20px 15px;
}

/* line 84, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.site-footer .fa {
  font-size: 2.5em;
  -webkit-transition: color .5s;
  transition: color .5s;
}

/* line 90, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.site-footer .fa:hover {
  color: #7D053F;
}

/* line 95, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.carousel-caption {
  bottom: 33%;
  background-color: rgba(155, 159, 168, 0.41);
  width: 41%;
  margin: 0 auto;
}

/* line 103, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.carousel-caption h3 {
  font-family: 'Tangerine', serif;
  font-size: 3.5em;
  color: #000;
  letter-spacing: 3px;
  font-weight: bold;
}

/* line 111, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.carousel-indicators .active {
  background-color: #730E15;
}

/* line 115, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.carousel-indicators li {
  border-color: #730E15;
  border-radius: 0;
}

/* line 120, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.carousel-inner > .item > a > img {
  width: 100%;
  height: 700px;
}

/*@media*/
@media (max-width: 480px) {
  /* line 128, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
  .carousel-caption h3 {
    font-size: 2em;
  }

  /* line 132, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
  .carousel-caption {
    width: 50%;
    padding-bottom: 0;
    padding-top: 0;
    bottom: 35%;
  }

  /* line 139, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
  .carousel-inner > .item > a > img {
    height: 300px;
  }
}
/* line 146, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.nav {
  font-family: 'Della Respira';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

/* line 154, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.navbar {
  margin-bottom: 0;
}

/* line 158, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.navbar-default .navbar-brand {
  color: #7D053F;
  font-family: Spirax  , sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

/* line 165, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.navbar-default .navbar-nav > li > a {
  color: #7D053F;
  font-family: Itim , sans-serif;
  font-size: 17px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

/* line 173, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #7D053F;
}

/* line 179, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.btn-primary {
  background-color: #7D053F;
  border-color: #7D053F;
}

/* line 184, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: #7D053F;
  border-color: #7D053F;
}

/* Thumbnail */
/* line 194, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.thumbnail .caption h3 {
  font-family: Itim;
  margin-bottom: 25px;
  font-weight: 600;
}

/* line 201, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.thumbnail a > img,
.thumbnail > img {
  height: 250px;
  min-width: 100%;
}

/* line 208, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.contact {
  font-family: Spirax, sans-serif;
  color: #7D053F;
  text-align: center;
  padding: 40px 0 20px;
}

/* line 214, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.contact_button {
  background-color: #7D053F;
  border-color: #7D053F;
}

/* line 218, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.form-group {
  color: #7D053F;
}

/* line 223, C:/sites/emanapp/app/assets/stylesheets/simple_pages.scss */
.panel-body p {
  background: #d3d3d3;
  height: 90px;
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/* Login form */

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header {
  background: #FF6666;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #fffeea;
  padding: 12px;
}

.login .field {
  padding: 8px;
  text-align: center;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}


.login input[type="submit"] {
  background: #FF6666;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #FF9966;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

.login .forgot {
  text-color: #fff;
}

// sign up
.signup{
 width: 400px;
  margin: 16px auto;
  font-size: 16px;
 
}  
.signup-header {
  background: #FF6666;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: auto;
}

.signup-container {
  background: #fffeea;
  padding: 12px;
}


.signup .field {
  padding: 8px;
  text-align: center;
}

.signup input[type="submit"] {
  background: #FF6666;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.signup input[type="submit"]:hover {
  background: #FF9966;
}

/* Buttons' focus effect */
.signup input[type="submit"]:focus {
  border-color: #05a;
}

// password
.password{
 width: 400px;
  margin: 16px auto;
  font-size: 16px;
 
}

.password-header {
  
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: auto;
}

.password-container {
  background: #fffeea;
  width: 100%;
}

.password input[type="submit"] {
  background: #FF6666;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.password input[type="submit"]:hover {
  background: #FF9966;
}

/* Buttons' focus effect */
.password input[type="submit"]:focus {
  border-color: #05a;
}

// Edit
.edit{
 width: 400px;
  margin: 16px auto;
  font-size: 16px;
 
}

.edit-header {
  background: #FF6666;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: auto;
}

.edit-container {
  background: #fffeea;
  padding: 12px;
}


.edit.field {
  padding: 8px;
  text-align: center;
}

.edit input[type="submit"] {
  background: #FF6666;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.edit input[type="submit"]:hover {
  background: #FF9966;
}

/* Buttons' focus effect */
.edit input[type="submit"]:focus {
  border-color: #05a;
}
