<!DOCTYPE html>
<html>
  <head>
    <title>EmanApp</title>
  
  </head>

  <body>
    <nav>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</nav>

<%= yield %>

<footer>
  &copy; 2017 Bike Berlin
</footer>
  </body>
</html>
